{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Arkatama_API",
    "contact": {}
  },
  "host": "yoga-jwt-api.christyoga.my.id",
  "basePath": "/api",
  "securityDefinitions": {
    "Bearer": {
      "in": "header",
      "type": "apiKey",
      "name": "Authorization"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Register",
        "tags": [
          "Authentication"
        ],
        "operationId": "Register",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "email",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "default": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Login",
        "tags": [
          "Authentication"
        ],
        "operationId": "Login",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "default": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "Logout",
        "tags": [
          "Authentication"
        ],
        "operationId": "Logout",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/products": {
      "get": {
        "summary": "Get All Products",
        "tags": [
          "Product"
        ],
        "operationId": "GetAllProducts",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create Product",
        "tags": [
          "Product"
        ],
        "operationId": "CreateProduct",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "product_name",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "category_id",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "price",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "quantity",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "description",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "default": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/products/{id}": {
      "get": {
        "summary": "Get Product by Id",
        "tags": [
          "Product"
        ],
        "operationId": "GetProductbyId",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "default": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update Product",
        "tags": [
          "Product"
        ],
        "operationId": "UpdateProduct",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "product_name",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "category_id",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "price",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "quantity",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "description",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Product",
        "tags": [
          "Product"
        ],
        "operationId": "DeleteProduct",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "default": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/categories": {
      "get": {
        "summary": "Get Categories",
        "tags": [
          "Category Product"
        ],
        "operationId": "GetCategories",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create Category",
        "tags": [
          "Category Product"
        ],
        "operationId": "CreateCategory",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "category_name",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "default": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/categories/{id}": {
      "get": {
        "summary": "Get Category by ID",
        "tags": [
          "Category Product"
        ],
        "operationId": "GetCategorybyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "default": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Category",
        "tags": [
          "Category Product"
        ],
        "operationId": "DeleteCategory",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "default": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update Category",
        "tags": [
          "Category Product"
        ],
        "operationId": "UpdateCategory",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "category_name",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "default": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "definitions": {
    "UpdateProductRequest": {
      "title": "UpdateProductRequest",
      "example": {
        "product_name": "Nasgor",
        "category_id": 3,
        "price": 10000,
        "quantity": 10,
        "description": "nasgor enak"
      },
      "type": "object",
      "properties": {
        "product_name": {
          "type": "string"
        },
        "category_id": {
          "type": "integer",
          "format": "int32"
        },
        "price": {
          "type": "integer",
          "format": "int32"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string"
        }
      },
      "required": [
        "product_name",
        "category_id",
        "price",
        "quantity",
        "description"
      ]
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Product"
    },
    {
      "name": "Category Product"
    }
  ]
}